.Introduction {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #252934;
    background-size: cover;
    position: relative;
}

.Button {
    position: absolute;
    color: white;
    top: 50%;
    right: 50%;
    z-index: 2;
}

.Introduction>div:first {
    height: 100%;
}