.MeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 40%;
}


.ProfileImage {
    border-radius: 10px;
    width: 50%;
    height: 50%;
}

.Introduction {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bolder;
    color: #696969;
    font-size: 20px;
    margin-top: 2%;
}

.Highlight {
    color: #009ADA;
}