.IntroductionBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Name {
    color: #EE0079;
}

.IntroductionBoxText {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.Button {
    color: white;
    margin-top: 1%;
    z-index: 99;
}

.Button:hover {
    background-color: #EE0079;
}
.Button:active {
    background-color: #EE0079;
}

.RightArrow {
    margin-left: 2px;
    transition: 0.1s ease-in-out;
}

.Button:hover > img {
    transform: rotateZ(90deg);
}
