.SkillContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2%;
}

.SkillName {
    text-align: center;
    color: white;
    background-color: #64C7CC;
    padding: 3px;
    border-radius: 2px;
    width: 30%;
}