.Navbar {
    background-color: #1B242F;
    color: white;
    padding: 15px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    position: relative;
    border-bottom: 2px solid #71A8FF;
}

.NavbarItems {
    margin-left: 10%;
    display: inline-flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.NavbarFixedPosition {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}


.Hamburger {
  display: none;
  width: 40px;
  height: 20px;
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 10px;
}

.Hamburger>div {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: white;
  margin-top: 7px;
}

@media screen and (max-width: 576px) {

  .Navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .NavbarItems {
    flex-direction: column;
    margin-top: 10%;
    margin-left: 0;
    overflow: hidden;
    opacity: 0;
  }

  .Hamburger {
    display: inline-block;
  }


  .OpenNavBar {
    height: 200px;
  }

  .OpenNavBar>.NavbarItems {
    opacity: 1;
  }



    

}