.SkillsTabset {

    width: 50%;
}


.ButtonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}
/* 
.ProjectsShowcaseContainer {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
} */

.Button {
    width: 100%;
    height: inherit;
    margin: 2%;
    font-weight: bolder;
    color: #616161;
    border-radius: 5px;
}
