.Traits {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
    .Traits {
        justify-content: space-around;
        align-items: center;
    }
}